---
layout: default
---

<div class="home">
  
  {{ content }}

  <div id="main">
    <section class="posts">
      {% assign sorted_pages = site.pages | sort:"sort" %}
      {% for page in sorted_pages %}
        {% if page.title %}
          <article>
            <header>
              <h2>
                <a href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
              </h2>
            </header>
            <a href="{{ page.url | relative_url }}" class="image fit">
              <img src="{{ page.image }}" alt="{{ page.title }}" height="310">
            </a>
            <p>{{ page.excerpt }}</p>
            <ul class="actions">
              <li><a href="{{ page.url | relative_url }}" class="button">{{ page.read_more | default: "Read More" }}</a></li>
            </ul>
          </article>
        {% endif %}
      {% endfor %}
    </section>
  </div>

</div>
